*{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
header{
    background: linear-gradient(45deg, #b91206d5, #0d6007, #000000, #070000);
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 30vh;
    position: relative;
    width: 100%;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 0px auto;
    flex-direction: row;
    padding: 0px;
    
    
}
.logo h1{
    font-size: 5rem;
    margin-left: 4rem;
    font-weight: 900;
    color: rgb(250, 10, 10);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
    animation: move 4s ease-in-out infinite;
    
}

@keyframes move{
    0%{
        clip-path: polygon(0%, 45%, 15%, 44%, 32%, 50%, 54%, 60%, 70%, 61%, 84%, 59%, 100%, 52%, 100%, 100%, 0%, 100%);
    }
    100%{
        clip-path: polygon(0%, 45%, 15%, 44%, 32%, 50%, 54%, 60%, 70%, 61%, 84%, 59%, 100%, 52%, 100%, 100%, 0%, 100%);
    }
}
.logo h3{
    margin-left: 30px;
    margin-bottom: -40px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: flex;
   
}
h3:hover{
    transform: scale(1.5);
    transition: 4s ease-in-out;
    transform-origin: left;
    font-size: 2rem;

}
.nav{
    display: flex;
    margin-left: 2rem;
    position: relative;
    
}
.nav ul{
    padding: 0px 10px;
    margin-left: 3rem;
   

}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
   
    
   
}
.nav ul li a{
      margin-right: 3rem;
      display: inline-block;
      font-size: 1.25rem;text-decoration: none;
      text-transform: uppercase; 
      color: #fff;
      
}
a:hover{
    transform: scale(1.1);
    background-color: cadetblue;
    padding: 4px;
    border-radius: 15px;
}
body{
    width: 100%;
    height: 115vh;
    background: linear-gradient(45deg, #b91206d5, #0d6007, #000000, #070000);
    position: relative;
    text-align: center;
    
}
.apresentacao{
    position: absolute;
    top: 30%;
    left: 40px;
    width: 20%;
}
.apresentacao span{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(236, 5, 5);
    padding: 10px;
    margin-left: 2.5rem;
}
.apresentacao h2{
    color: aliceblue;
    margin-top: 30px;
    margin-left: 2.5rem;
    font-size: 2.5;
}
.apresentacao p{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    color: aqua;
}
button{
    margin-top: 30px;
    margin-left: 2.5rem;
    font-size: 2.5;
    padding: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    color: #1078ce;
}
button:hover{
    transform: scale(1.1);
    transition: 5s ease-in-out ;
    color: #1078ce;
}
.imagens{
    display: flex;
    position: relative;
    height: 75vh;
    margin: 0px;
    padding: 0px;

    width: 80%;
}
.imagens img{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 3%;
    right: -22%;
    object-fit: cover;
    align-items: end;

}
.rede__social{
    display: flex;
    position: absolute;
    bottom: 2%;
    left: 7%;
    gap: 18px;
    font-size: 32px;
}
.rede__social a{
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1078ce;
    border: 4px solid rgb(0, 68, 255);
    overflow: hidden;
    z-index: 10;
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    animation: rotate 10s linear infinite;
   
}


.rede__social a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5d52da;
    opacity: 100%;
    z-index: -1;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
    border: 4px solid blue;
}
.rede__social:hover a::before{
    scale: 1.1;
    background-color: blue;
    transform: scale(1.1);
    transition: .5s;
    
}

.icon{
    font-size: 2rem;
    color: #eeedf3;
    transition: 0.5s ease;
    z-index: -1;
   
    
}

.rede__social a:hover .icon{
    color: #250daf;
    transform: rotatex(360deg);
}  
.rede__social:nth-child(2){
    color: rgba(52, 127, 224, 0);
}
.rede__social:nth-child(3){
    color: aqua;
    
}
.rede__social a .icon:hover{
    color: #ffffff;
}
footer{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}
footer p{
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    margin-top: 3%;
    display: flex;
    margin-left: 50%;
}
